#result {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    #result div {
        background-color: pink;
        height: 30px;
        line-height: 30px;
        min-width: 30px;
        text-align: center;
        margin: 5px;
    }
    
    #result span {
        background-color: red;
    }